<div class="container">
  <article style="margin-top: 12rem;">
    <h2 style="text-align: center;">Sign up</h2>
    <form [formGroup]="signInForm" (ngSubmit)="signUp()" >
      <label for="">
        First name:
        <input type="text" formControlName="name" placeholder="Enter First name" name="name" required />
        @if(signInForm.get('name')?.valid){
          <small>Looks good!</small>
        }
      </label>
      <label for="">
        Last name:
        <input type="text" formControlName="lastname" name="lastname" required />
        @if(signInForm.get('lastname')?.valid){
          <small>Looks good!</small>
        }
      </label>
      <label for="email">
        E-mail:
        <input type="email" formControlName="email" name="email" id="email" required  />
        @if(signInForm.get('email')?.valid){
          <small>Looks good!</small>
        }
        @if(signInForm.get('email')?.invalid){
          <small>Please enter a valid email address.</small>
        }
      </label>
      <label for="password">
        Password:
        <input type="password" formControlName="password" name="password" id="password" required />
        @if(signInForm.get('password')?.valid){
          <small>Looks good!</small>
        }

      </label>
      <button [disabled]="signInForm.invalid" type="submit">Sign Up</button>

    </form>
  </article>
</div>
