<app-header></app-header>
<hr>
<div class="grid">
  <button class="outline" style="width: 100%;" (click)="createRoom()" >Add Room</button>
  <button class="outline" style="width: 100%;" (click)="navigateHotels()" >Return to hotels</button>
</div>
<hr>
<h2>Your rooms</h2>
<hr>
<table>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Floor</th>
      <th scope="col">Status</th>
      <th scope="col">Type</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let room of rooms">
      <th>{{room.name}}</th>
      <td>{{room.floor}}</td>
      @if(room.status === 'available'){
        <td style="color:#40D485;"><strong>{{room.status}}</strong></td>
      }
      @if(room.status === 'unavailable'){
        <td style="color:#64cdc8;"><strong>{{room.status}}</strong></td>
      }
      <td>{{room.type}}</td>
      <td><input (click)="updateRoom(room)" class="outline" type="button" value="Edit"></td>
    </tr>
  </tbody>
</table>
